<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="flex_layout.css">
    <title>Flex Layout</title>
</head>
<body>
    <header>
        <div class="navbar">
            <h1 class="title">Trek<span class="north">North</span></h1>
            <nav class="nav-links">
                <a href="">Home</a>
                <a href="">Destinations</a>
                <a href="">Gallery</a>
                <a href="">About</a>
            </nav>
            <a href="" class="nav-btn">Book a Trip</a>
        </div>
    </header>

    <main>
        <section class="hero">
            <h3 class="hero-h3">WHY CHOOSE US</h3>
            <div class="main-cards">
                <div class="card">
                    <span class="emoji">🏔️</span>
                    <h3 class="card-title">Expert Guides</h3>
                    <p class="card-para">Our certified mountain guides have over a decades of experience leaving expeditions safely.</p>
                </div>
                <div class="card">
                    <span class="emoji">🗺️</span>
                    <h3 class="card-title">Custom Routes</h3>
                    <p class="card-para">Every trip is tailored to your skill level and interests - no two journeys are the same.</p>
                </div>
                <div class="card">
                    <span class="emoji">⛺</span>
                    <h3 class="card-title">Premium Gear</h3>
                    <p class="card-para">Top-of-the-line equipment provided to you can focus entirely on the adventure ahead.</p>
                </div>
                <div class="card">
                    <span class="emoji">📡</span>
                    <h3 class="card-title"><span class="numbers">24/7</span>Support</h3>
                    <p class="card-para">Satellite communication and emergency support throughout every stage of your journey</p>
                </div>
            </div>
        </section>
    </main>

</body>
</html>