*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_text{
    height: 500px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.img_text div{
    width: 45%;
    flex-direction: column;
}

.text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_box img{
   width: 100%;
}

button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

button:hover{
    background-color: white;
    color: black;
}